/* Color Palette */
$color-main: #383838;
$color-primary: #269fbd;
$color-white: #ffffff;
$color-border: #cccccc;
$color-hover: #269fbd22;
$color-primary-hover: #269fbdaa;
$color-background: #f5f5f5;

/* Shadow */
$shadow-1: 0px 3px 4px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.06),
  0px 2px 4px rgba(0, 0, 0, 0.08);

$shadow-2: 0px 2px 10px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06),
  0px 2px 5px rgba(0, 0, 0, 0.2);
